@import "../../../assets/scss/main";

.profile_modal {
  flex-direction: column;

  display: flex;
  padding: 1.5rem;

  &__photo {
    display: flex;
    align-self: center;

    position: relative;

    align-items: center;
    justify-content: center;

    width: 15rem;
    height: 15rem;

    background-size: cover;
    background-position: center;

    border-radius: 50%;
    overflow: visible;

    cursor: pointer;
    transition: all .2s;

    & i {
      font-size: 6rem;
      color: $color-white;

      opacity: 0;
      transform: scale(.8);
      transition: all .2s;
    }

    &:hover {
      i {
        opacity: 1;
        transform: scale(1);
      }
    }

    &:hover &__remove_button {
      opacity: 1;
      z-index: 10000;
    }

    &__remove_button {
      position: absolute;
      top: 1.2rem;
      right: 1.2rem;
      cursor: pointer;
      opacity: 0;
      transition: all .2s;
      z-index: 10000;

      & i {
        z-index: 10000;
        font-size: 2.4rem;
        color: $color-black;
      }
    }
  }

  & input {
    visibility: hidden;
  }

  &__name {
    align-self: center;
    margin-top: 1.5rem;

    font-size: 2rem;
    font-weight: 900;
    color: $color-black;
  }

  &__email {
    align-self: center;

    font-size: 1.8rem;
    font-weight: 900;
    color: $color-text;
  }

  &__resend_confirm_email {
    margin-top: 20px;
    text-align: center;
  }

  &__verify_label {
    align-self: center;
    margin-top: .8rem;

    margin-left: 1rem;
    padding: .3rem .8rem;

    font-size: 1.4rem;
    font-weight: 900;
    color: $color-black;

    background-color: $color-gray;
    border-radius: .3rem;
  }

  &__actions_container {
    display: flex;

    flex: 1;
    flex-direction: row;
    justify-content: flex-end;

    margin-top: 2.5rem;

    & > * {
      margin-left: 1.5rem;
    }
  }
}

.update_profile_modal {
  flex-direction: column;

  display: flex;
  padding: 1.5rem;

  & > * {
    margin-bottom: 1.5rem;
  }

  &__actions_container {
    display: flex;

    flex: 1;
    flex-direction: row;
    justify-content: flex-end;

    margin-top: 2.5rem;

    & > * {
      margin-left: 1.5rem;
    }
  }
}
