@import "../../assets/scss/main";

.page_auth {
  &__content_container {
    padding: 4.8rem 4rem 3.6rem;
    text-align: center;
  }

  &__title {
    font-size: 2.4rem;
    color: $color-primary;
  }

  &__subtitle {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  &__input {
    margin-bottom: 1.4rem;
  }

  &__forgot_password_button {
    float: right;
    padding: .2rem .4rem;
  }

  &__buttons_container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;

    margin-top: 2.5rem;
  }

  &__action_button {
    padding-right: .5rem;
    padding-left: .5rem;
  }

  &__action_auth_button {
    float: right;
    margin: 10px 0px 20px 0px;
  }
}
