@import "../../assets/scss/main";

.auth_container {
  justify-content: center;
  align-items: center;

  &__box {
    display: inline-block;

    margin-left: 50vw;
    margin-top: 50vh;

    transform: translateY(-50%) translateX(-50%);
  }

  &__content_container {
    display: inline-block;
    width: 45rem;

    border: .1rem solid $color-gray;
    border-radius: .8rem;
    overflow: hidden;
  }

  &__links {
    button {
      float: right;
      padding: .5rem 1rem;

      font-size: 1.2rem;
      font-weight: 900;
    }
  }
}
