@import "../../assets/scss/main";

.auth_layout {
  display: flex;

  flex: 1;
  justify-content: center;
  align-items: center;

  height: 100vh;

  &__container {
    display: flex;
    flex-direction: column;

    width: 45rem;

    @include respond-phone {
      width: 100vw;
      height: 100vh;
    }

    &__content {
      flex: 1;
      border: .1rem solid $color-gray;
      border-radius: .8rem;

      @include respond-phone {
        border: unset;
      }
    }

    &__links {
      button {
        float: right;
        padding: .5rem 1rem;

        font-size: 1.2rem;
        font-weight: 900;
      }
    }
  }
}
