@import "../../assets/scss/main";

.progress_bar_component {
  &__container {
    width: 100%;
    height: .4rem;

    transition: all .2s;
    overflow: hidden;
    opacity: 0;

    &_loading {
      opacity: 1;
    }
  }

  &__label {
    width: 0;
    margin-left: 0;

    height: 100%;

    background-color: $color-primary;

    &_loading {
      animation-name: progress_bar_component_animation;
      animation-duration: 1s;
      animation-iteration-count: 3000;
    }
  }
}

@keyframes progress_bar_component_animation {
  0% {
    width: 0;
    margin-left: 0;
  }
  50% {
    width: 50%;
    margin-left: 25%;
  }
  100% {
    width: 0;
    margin-left: 100%;
  }
}
