.continue_as_user {
  align-self: flex-start;

  margin-top: 3rem;
  border-radius: .4rem;
  height: 4rem;

  background-color:#0336FF ;
  color: #FFFFFF;
}

.switch_user{
  align-self: flex-start;
  margin-top: 1rem;
  padding-left: 0;
  color: rgba(0,0,0,.4);
}