.authorized_login_container{
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    &__continue_as_user{
        margin-top: 3rem;
        border-radius: .4rem;
        height: 4rem;

        background-color:#0336FF ;
        color: #FFFFFF;
    }

    &__switch_user{
        align-self: center;
        margin-top: 1rem;
        color: rgba(0,0,0,.4);
    }
}
