.continue_as_user {
  align-self: flex-start;

  margin-top: 3rem;
  border-radius: 2.4rem;
  height: 4rem;

  background-color: #0084ff;
  color: #FFFFFF;
}

.switch_user{
  align-self: flex-start;
  margin-top: 1rem;

  color: rgba(0,0,0,.4);
}