@import "../../assets/scss/main";

.create_cart {
  display: flex;

  flex: 1;
  align-self: center;

  width: 50rem;
  margin-bottom: 3rem;

  background-color: $color-white;
  border: .1rem solid $color-gray;
  border-radius: .6rem;

  &__form {
    display: flex;
    flex: 1;
    flex-direction: column;

    &__title_input {
      padding: 1.5rem;

      font-family: inherit;
      font-size: 1.6rem;
      font-weight: 700;
      color: $color-black;

      background-color: transparent;
      border: none;

      &:focus {
        outline: none;
      }
    }

    &__cart_items {
      display: flex;
      flex: 1;
      flex-direction: column;

      & > * {
        border-top: .1rem solid $color-gray;
      }
    }

    &__add_item_button {
      display: flex;
      align-items: center;

      padding: 1rem 1.5rem;

      font-size: 1.2rem;
      font-weight: 500;
      color: $color-black;

      border-top: .1rem solid $color-gray;
      border-bottom: .1rem solid $color-gray;

      cursor: text;

      span {
        margin-left: 1.5rem;
      }
    }

    &__submit_button {
      align-self: flex-end;
      margin: 1.5rem;
    }
  }

  &__cart_item {
    display: flex;

    flex: 1;
    flex-direction: row;
    align-items: center;

    padding: 1rem 1.5rem;

    &__title_input {
      flex: 1;
      margin-left: 1.5rem;

      font-family: inherit;
      font-size: 1.2rem;
      font-weight: 500;
      color: $color-black;

      background-color: transparent;
      border: none;

      &:focus {
        outline: none;
      }
    }

    &__close_button {
      font-size: 1.8rem;
      color: $color-text;

      cursor: pointer;
    }
  }
}

.update_cart {
  display: flex;

  flex: 1;
  align-self: center;

  &__form {
    display: flex;
    flex: 1;
    flex-direction: column;

    &__title_input {
      padding: 1.5rem;

      font-family: inherit;
      font-size: 1.6rem;
      font-weight: 700;
      color: $color-black;

      background-color: transparent;
      border: none;

      &:focus {
        outline: none;
      }
    }

    &__cart_items {
      display: flex;
      flex: 1;
      flex-direction: column;

      & > * {
        border-top: .1rem solid $color-gray;
      }
    }

    &__add_item_button {
      display: flex;
      align-items: center;

      padding: 1rem 1.5rem;

      font-size: 1.2rem;
      font-weight: 500;
      color: $color-black;

      border-top: .1rem solid $color-gray;
      border-bottom: .1rem solid $color-gray;

      cursor: text;

      span {
        margin-left: 1.5rem;
      }
    }

    &__buttons_container {
      display: flex;
      flex-direction: row;

      &__submit_button {
        margin: 1.5rem 1.5rem 1.5rem auto;
      }

      &__close_button {
        margin: 1.5rem;
      }
    }
  }
}

.cart_object {
  display: flex;
  position: relative;

  flex: 1;
  flex-direction: column;

  width: 50rem;
  margin-bottom: 1rem;
  padding: 1rem 0;

  background-color: $color-white;
  border: .1rem solid $color-gray;
  border-radius: .6rem;

  &:hover &__remove_button {
    opacity: 1;
  }

  &__remove_button {
    position: absolute;
    top: -1.2rem;
    right: -1.2rem;

    color: $color-black;

    cursor: pointer;
    opacity: 0;
    transition: all .2s;
  }

  &__title {
    flex: 1;
    font-size: 1.6rem;

    padding: 1rem 1.5rem;
  }

  &__items {
    display: flex;

    flex: 1;
    flex-direction: column;

    &__separator {
      flex: 1;

      height: .1rem;
      margin-left: 1rem;

      background-color: $color-gray;
    }

    &__item {
      display: flex;

      flex: 1;
      align-items: center;

      padding: .8rem 1.5rem;

      border-top: .1rem solid transparent;
      border-bottom: .1rem solid transparent;

      transition: all .2s;

      &:hover {
        border-top: .1rem solid $color-gray;
        border-bottom: .1rem solid $color-gray;
      }

      &__title {
        margin-left: 1rem;
        font-size: 1.4rem;
      }
    }
  }

  &__users_container{
    margin: 1.5rem 1.5rem 0 1.5rem;

   &__share_button{
     float: left;

     &:hover {
       cursor: pointer;
     }
   }

    &__user_list{
      float: right;

      & img{
        margin: -0.5rem;
        border: 0.3rem solid white;
        border-radius: 50%;
      }
    }
  }


}

.cart_item_object {
  display: flex;

  flex: 1;
  flex-direction: row;
  align-items: center;

  padding: 1rem 1.5rem;

  &__title_input {
    flex: 1;
    margin-left: 1.5rem;

    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    color: $color-black;

    background-color: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__close_button {
    font-size: 1.8rem;
    color: $color-text;

    cursor: pointer;
  }
}

.share_cart {
  display: flex;
  flex-direction: column;

  &__contacts_container {
    display: flex;
    flex-direction: row;

    overflow-x: scroll;
  }

  &__sharing_button{
    margin: 1rem;
    margin-left: 1.5rem;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 3rem 1rem;

    cursor: pointer;

    &__img {
      width: 7rem;
      height: 7rem;

      background-size: cover;
      background-position: center;

      border-radius: 50%;

      &__label {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        background-color: rgba($color-primary, 0);
        border-radius: 50%;

        transition: all .2s;

        & i {
          font-size: 2.5rem;
          color: $color-white;

          transform: scale(0);
          transition: inherit;
        }

        &_selected {
          background-color: rgba($color-black, .5);

          & i {
            transform: scale(1);
          }
        }
      }
    }

    &:hover &__img {
      &__label {
        background-color: rgba($color-black, .5);

        & i {
          transform: scale(1);
        }
      }
    }

    &__name {
      margin-top: 1rem;

      font-size: 1.4rem;
      font-weight: 700;
      color: $color-black;
    }

    &__email {
      font-size: 1.2rem;
      color: $color-text;
    }
  }
}