@import "../../assets/scss/main";

.create_cart {
  display: flex;

  flex: 1;
  align-self: center;

  width: 50rem;
  margin-bottom: 3rem;

  background-color: $color-white;
  border: .1rem solid $color-gray;
  border-radius: .6rem;

  &__form {
    display: flex;
    flex: 1;
    flex-direction: column;

    &__title_input {
      padding: 1.5rem;

      font-family: inherit;
      font-size: 1.6rem;
      font-weight: 700;
      color: $color-black;

      background-color: transparent;
      border: none;

      &:focus {
        outline: none;
      }
    }

    &__cart_items {
      display: flex;
      flex: 1;
      flex-direction: column;

      & > * {
        border-top: .1rem solid $color-gray;
      }
    }

    &__add_item_button {
      display: flex;
      align-items: center;

      padding: 1rem 1.5rem;

      font-size: 1.2rem;
      font-weight: 500;
      color: $color-black;

      border-top: .1rem solid $color-gray;
      border-bottom: .1rem solid $color-gray;

      cursor: text;

      span {
        margin-left: 1.5rem;
      }
    }

    &__submit_button {
      align-self: flex-end;
      margin: 1.5rem;
    }
  }

  &__cart_item {
    display: flex;

    flex: 1;
    flex-direction: row;
    align-items: center;

    padding: 1rem 1.5rem;

    &__title_input {
      flex: 1;
      margin-left: 1.5rem;

      font-family: inherit;
      font-size: 1.2rem;
      font-weight: 500;
      color: $color-black;

      background-color: transparent;
      border: none;

      &:focus {
        outline: none;
      }
    }

    &__close_button {
      font-size: 1.8rem;
      color: $color-text;

      cursor: pointer;
    }
  }
}

.cart_object {
  display: flex;
  flex: 1;

  width: 50rem;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;

  background-color: $color-white;
  border: .1rem solid $color-gray;
  border-radius: .6rem;
}
