@import "../../assets/scss/main";

.create_cart {
  display: flex;

  flex: 1;
  align-self: center;

  margin-bottom: 3rem;

  background-color: $color-white;
  border: .1rem solid $color-gray;
  border-radius: .6rem;

  @include respond-width();

  &__form {
    display: flex;
    flex: 1;
    flex-direction: column;

    &__title_input {
      padding: 1.5rem;

      font-family: inherit;
      font-size: 1.6rem;

      font-weight: 700;
      color: $color-black;

      background-color: transparent;
      border: none;

      &:focus {
        outline: none;
      }
    }

    &__cart_items {
      display: flex;
      flex: 1;
      flex-direction: column;

      & > * {
        border-top: .1rem solid $color-gray;
      }
    }

    &__add_item_button {
      display: flex;
      align-items: center;

      padding: 1rem 1.5rem;

      font-size: 1.2rem;
      font-weight: 500;
      color: $color-black;

      border-top: .1rem solid $color-gray;
      border-bottom: .1rem solid $color-gray;

      cursor: text;

      span {
        margin-left: 1.5rem;
        cursor: pointer;
      }
    }

    &__submit_button {
      align-self: flex-end;
      margin: 1.5rem;
    }
  }

  &__cart_item {
    display: flex;

    flex: 1;
    flex-direction: row;
    align-items: center;

    padding: 1rem 1.5rem;

    &__title_input {
      flex: 1;
      margin-left: 1.5rem;

      font-family: inherit;
      font-size: 1.2rem;
      font-weight: 500;
      color: $color-black;

      background-color: transparent;
      border: none;

      &:focus {
        outline: none;
      }
    }

    &__close_button {
      font-size: 1.8rem;
      color: $color-text;

      cursor: pointer;
    }
  }
}

.update_cart {
  display: flex;

  flex: 1;
  align-self: center;

  &__form {
    display: flex;
    flex: 1;
    flex-direction: column;

    &__title_input {
      padding: 1.5rem;

      font-family: inherit;
      font-size: 1.6rem;
      font-weight: 700;
      color: $color-black;

      background-color: transparent;
      border: none;

      &:focus {
        outline: none;
      }
    }

    &__cart_items {
      display: flex;
      flex: 1;
      flex-direction: column;

      & > * {
        border-top: .1rem solid $color-gray;
      }
    }

    &__add_item_button {
      display: flex;
      align-items: center;

      padding: 1rem 1.5rem;

      font-size: 1.2rem;
      font-weight: 500;
      color: $color-black;

      border-top: .1rem solid $color-gray;
      border-bottom: .1rem solid $color-gray;

      cursor: text;

      span {
        margin-left: 1.5rem;
      }
    }

    &__buttons_container {
      display: flex;
      flex-direction: row;

      &__submit_button {
        margin: 1.5rem 1.5rem 1.5rem auto;
      }

      &__close_button {
        margin: 1.5rem;
      }
    }
  }
}

.cart_object {
  display: flex;
  position: relative;

  flex: 1;
  flex-direction: column;

  margin-bottom: 1rem;
  padding: 1rem 0;

  background-color: $color-white;
  border: .1rem solid $color-gray;
  border-radius: .6rem;

  @include respond-width();

  &:hover &__remove_button {
    opacity: 1;
  }

  &__remove_button {
     position: absolute;
     top: -1.2rem;
     right: -1.2rem;

     color: $color-black;

     cursor: pointer;
     opacity: 0;
     transition: all .2s;
   }

  &__status_active {
    position: absolute;
    top: 1rem;
    right: 1rem;

    color:$color-accent;
    font-size: 1.4rem;
    font-weight: 500;

    &__dot_active{
      height: 0.8rem;
      width: 0.8rem;
      background-color: $color-accent;
      border-radius: 50%;
      display: inline-block;
      margin-left: 0.3rem;
    }
  }

  &__status_completed {
    position: absolute;
    top: 1rem;
    right: 1rem;

    color: $color-primary;
    font-size: 1.4rem;
    font-weight: 500;

    &__dot_completed{
      height: 0.8rem;
      width: 0.8rem;
      background-color: $color-primary;
      border-radius: 50%;
      display: inline-block;
      margin-left: 0.3rem;
    }
  }

  &__title {
    flex: 1;
    font-size: 1.6rem;

    padding: 1rem 1.5rem;
  }

  &__items {
    display: flex;

    flex: 1;
    flex-direction: column;

    &__separator {
      flex: 1;

      height: .1rem;
      margin-left: 1rem;

      background-color: $color-gray;
    }

    &__item {
      display: flex;

      flex: 1;
      align-items: center;

      padding: .8rem 1.5rem;

      border-top: .1rem solid transparent;
      border-bottom: .1rem solid transparent;

      transition: all .2s;

      &:hover {
        border-top: .1rem solid $color-gray;
        border-bottom: .1rem solid $color-gray;
      }

      &__title {
        margin-left: 1rem;
        font-size: 1.4rem;
      }
    }
  }

  &__users_container {
    margin: 1.5rem 1.5rem 0 1.5rem;

    &__share_button {
      float: left;

      & i {
        color: $color-text;
      }

      &:hover {
        cursor: pointer;
      }
    }

    &__user_list {
      float: right;

      & img {
        margin: -0.5rem;
        border: 0.3rem solid white;
        border-radius: 50%;
      }
    }
  }
}

.cart_item_object {
  display: flex;

  flex: 1;
  flex-direction: row;
  align-items: center;

  padding: 1rem 1.5rem;

  &__title_input {
    flex: 1;
    margin-left: 1.5rem;

    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;

    background-color: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }

  &__close_button {
    font-size: 1.8rem;
    color: $color-text;

    cursor: pointer;
  }
}

.share_cart {
  display: flex;
  flex-direction: column;

  &__subtitle {
    display: flex;
    margin-left: 1.5rem;
    margin-top: 1.5rem;

    font-weight: 500;
    font-size: 1.4rem;
    color: $color-text;
  }

  &__contacts_container {
    margin: 1.5rem;

    display: flex;
    flex-direction: row;

    overflow-x: scroll;
  }

  &__sharing_button {
    margin: 1rem;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 3rem 1rem;

    cursor: pointer;

    &__img {
      width: 7rem;
      height: 7rem;

      background-size: cover;
      background-position: center;

      border-radius: 50%;

      &__label {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        background-color: rgba($color-primary, 0);
        border-radius: 50%;

        transition: all .2s;

        & i {
          font-size: 2.5rem;
          color: $color-white;

          transform: scale(0);
          transition: inherit;
        }

        &_selected {
          background-color: rgba($color-black, .5);

          & i {
            transform: scale(1);
          }
        }
      }
    }

    &:hover &__img {
      &__label {
        background-color: rgba($color-black, .5);

        & i {
          transform: scale(1);
        }
      }
    }

    &__name {
      margin-top: 1rem;

      font-size: 1.4rem;
      font-weight: 700;
      color: $color-black;
    }

    &__email {
      font-size: 1.2rem;
      color: $color-text;
    }
  }

  &__separator {
    width: 100%;
    height: .1rem;
    background-color: $color-gray;
  }

  &__create_share_cart_link {
    margin: 1.5rem;

    &:hover select {
      cursor: pointer;
    }

    &:hover input[type='button'] {
      cursor: pointer;
    }

    & select {
      float: left;

      width: 80%;
      height: 4rem;

      padding-left: 1.2rem;

      font-family: inherit;
      font-weight: 500;

      background-color: #f5f5f5;
      border: .1rem solid #dcdcdc;
      border-top-left-radius: .3rem;

      transition: all .2s;

      &:hover {
        background-color: darken(#f5f5f5, 1);
        border: .1rem solid darken(#dcdcdc, 5);
      }

      &:focus {
        background-color: darken(#f5f5f5, 2);
        border: .1rem solid darken(#dcdcdc, 10);
        outline: none;
      }

      & option {
        font-family: inherit;
        font-weight: 500;
      }
    }

    & input[type='button'] {
      float: right;

      width: 20%;
      height: 4rem;

      background-color: #f5f5f5;
      border: .1rem solid #dcdcdc;
      border-left: none;
      border-top-right-radius: .3rem;

      font-family: inherit;
      font-weight: 500;
      color: $color-black;

      transition: all .2s;

      &:hover {
        background-color: darken(#f5f5f5, 1);
        border: .1rem solid darken(#dcdcdc, 5);
        border-left: none;
      }

      &:focus {
        background-color: darken(#f5f5f5, 2);
        border: .1rem solid darken(#dcdcdc, 10);
        outline: none;
      }
    }

    & input[type='text'] {
      width: 100%;
      height: 4rem;

      padding-left: 1.2rem;

      font-family: inherit;
      color: $color-text;

      border: .1rem solid #dcdcdc;
      border-top: none;
      border-bottom-right-radius: .3rem;
      border-bottom-left-radius: .3rem;

      &:focus {
        outline: none;
      }
    }
  }
}