@import "../../assets/scss/main";

.modal_component {
  &__container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba($color-black, .5);
    z-index: 500;

    opacity: 0;
    visibility: hidden;
    transition: all .2s;

    &_visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__content_container {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;

    background-color: $color-white;
    border-radius: .6rem;

    transform: translate(-50%, -50%) scale(.7);
    transition: all .2s;

    @include respond-width();

    &_visible {
      transform: translate(-50%, -50%);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 6rem;

    padding: 1.5rem;

    border-bottom: .1rem solid $color-gray;
    color: $color-text;

    & span {
      font-size: 1.7rem;
      font-weight: bold;
    }

    & i {
      cursor: pointer;
    }
  }

  &__actions_container {
    display: flex;
    align-items: center;

    & > * {
      margin-left: 1.5rem;
    }
  }
}

@media (max-width: 37.5em) {
  .modal_component__content_container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    border-radius: 0rem;

    transform: translate(0, 0);
    transition: all .2s;
  }

  &_visible {
    transform: translate(0, 0);
  }
}
