$color-primary: #0336FF;
$color-secondary: #FF0266;
$color-accent: #FFD303;

$color-background: #fafafa;
$color-highlight: #FDFDFD;
$color-text: #5f6368;

$color-white: #FFFFFF;
$color-gray: #dadce0;
$color-black: #000000;
