// media query manager
@mixin respond-phone {
  @media (max-width: 37.5em) {
    @content //0 - 600px
  }
}

@mixin respond-portal {
  @media (max-width: 56.25em) {
    @content //600px - 900px
  }
}

@mixin respond-landing {
  @media (max-width: 75em) {
    @content //900px - 1200px
  }
}

@mixin respond-big-desktop {
  @media (min-width: 112.5em) {
    @content //1800px -> +
  }
}

@mixin respond-value($property, $values...) {
  #{$property}: nth($values, 1);

  @include respond-landing {
    #{$property}: nth($values, 2);
  }
  @include respond-portal {
    #{$property}: nth($values, 3);
  }
  @include respond-phone {
    #{$property}: nth($values, 4);
  }
  @include respond-big-desktop {
    #{$property}: nth($values, 5);
  }
}


@mixin respond-width {
  width: 50rem;

  @include respond-landing {
    width: 70rem;
  }

  @include respond-portal {
    width: 55rem;
  }

  @include respond-phone {
    width: 30rem;
  }
}
